.avatar-menu__storage-card {
  align-self: stretch;
  height: 77px;
  box-sizing: border-box;
  padding-left: 13px;
  padding-right: 13px;
  background: #ffffff;
  box-shadow: 0px 9px 10px rgba(17, 17, 17, 0.08);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.07);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
}

.avatar-menu__storage-header {
  align-self: stretch;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-menu__storage-title {
  color: #090909;
  font-size: 12px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  word-wrap: break-word;
}

.avatar-menu__storage-usage {
  font-size: 11px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
  color: #9b9b9b;
}

.avatar-menu__storage-usage strong {
  color: #050505;
  font-weight: 500;
}

.avatar-menu__storage-progress {
  align-self: stretch;
  height: 5px;
  position: relative;
  background: #d9d9d9;
  overflow: hidden;
  border-radius: 999px;
}

.avatar-menu__storage-progress-bar {
  height: 5px;
  background: #000000;
  border-radius: 999px;
}

.avatar-menu__storage-footer {
  align-self: stretch;
  display: flex;
  align-items: center;
  color: #8f8f8f;
  font-size: 10.5px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}
